.nav-bar {
  right: 2rem;
  width: 40%;
  height: 7vh;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  margin: 1rem 0 1rem 0;
  display: flex;
  z-index: 999;
}

.nav-links {
    list-style: none;
    padding: 2rem;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    
}

.nav-links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #E2FFFC;
    transition-timing-function: ease-in-out;
    transition: .3s;
}

.nav-links a:hover {
    transition-timing-function: ease-in-out;
    transition: .3s;
    color: #00AA9F;
}


